{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
# brew_base.yml hash: {{ include "brew_base.yml" | sha256sum }}
{{- if .work }}
# brew_work.yml hash: {{ include "brew_work.yml" | sha256sum }}
{{- else }}
# brew_personal.yml hash: {{ include "brew_personal.yml" | sha256sum }}
{{- end }}
brew bundle --no-lock --no-upgrade --file=/dev/stdin --verbose <<EOF
{{ $brew_base := include (joinPath .chezmoi.sourceDir "brew_base.yml") | fromYaml }}
{{- $taps := $brew_base.taps }}
{{- $brews := $brew_base.brews }}
{{-  $casks := $brew_base.casks }}
{{- if not (or .yabai .skhd) -}}
    {{- $taps = without $taps "koekeishiya/formulae" -}}
{{- end }}
{{- if not .yabai -}}
    {{- $brews = unset $brews "koekeishiya/formulae/yabai" -}}
{{- end }}
{{- if not .skhd -}}
    {{- $brews = unset $brews "koekeishiya/formulae/skhd" -}}
{{- end -}}
{{- if not .espanso -}}
    {{- $brews = unset $casks "espanso" -}}
{{- end -}}
{{- if not .hg -}}
    {{- $brews = unset $brews "mercurial" -}}
{{- end -}}
{{- if .work }}
    {{- $brew_work := include (joinPath .chezmoi.sourceDir "brew_work.yml") | fromYaml }}
    {{- $brews = mergeOverwrite $brews $brew_work.brews -}}
    {{- $casks = concat $casks $brew_work.casks -}}
{{ else }}
    {{- $brew_personal := include (joinPath .chezmoi.sourceDir "brew_personal.yml") | fromYaml }}
    {{- $taps = concat $taps $brew_personal.taps -}}
    {{- $brews = mergeOverwrite $brew_personal.brews $brews -}}
    {{- $casks = concat $casks $brew_personal.casks -}}
{{- end -}}
{{- range $taps -}}
    tap "{{ . }}"
{{ end -}}
{{- range $key, $value := $brews -}}
    {{ if eq $value nil -}}
    brew "{{ $key }}"
    {{- else -}}
    brew "{{ $key }}", {{ range $k, $v := $value -}}{{ $k }}: {{ if kindIs "bool" $v -}}
            {{- $v -}}
        {{else}}
            {{- toJson $v -}}
        {{end}}
    {{- end }}
    {{- end }}
{{ end -}}
{{ range $casks -}}
    cask "{{ . }}"
{{ end -}}
EOF
ruby {{ joinPath .chezmoi.sourceDir "scripts" "brew.rb" }}
# brew_local.yml hash: {{ include "brew_local.yml" | sha256sum }}
{{ $local := include (joinPath .chezmoi.sourceDir "brew_local.yml") | fromYaml -}}
{{- $taps_local_only := list -}}
{{- range $local.taps -}}
    {{- if not (has . $taps) -}}
        {{- $taps_local_only = append $taps_local_only . -}}
    {{- end -}}
{{- end -}}

{{- $brew_local_only := list -}}
{{- range $local.brews | keys -}}
    {{- if not (has . ($brews | keys)) -}}
        {{- $brew_local_only = append $brew_local_only . -}}
    {{- end -}}
{{- end -}}

{{- $casks_local_only := list }}
{{- range $local.casks -}}
    {{- if not (has . $casks) -}}
        {{- $casks_local_only = append $casks_local_only . -}}
    {{- end -}}
{{ end -}}
{{- if or (gt (len $taps_local_only) 0) (gt (len $brew_local_only) 0) (gt (len $casks_local_only) 0) -}}
# brew_local_diff.yml hash: {{ include "brew_local_diff.yml" | sha256sum }}
echo "Create brew_local_diff.yml" && cat << EOS > {{ joinPath .chezmoi.sourceDir "brew_local_diff.yml" }}
{{ dict "taps" $taps_local_only "brews" $brew_local_only "casks" $casks_local_only | toYaml -}}
EOS
{{- end }}
{{ end -}}
