{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
brew bundle --no-lock --file=/dev/stdin <<EOF
{{ $taps := list
    "aws/tap"
    "heroku/brew"
    "homebrew/bundle"
    "homebrew/cask"
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "homebrew/core"
    "homebrew/services" -}}
{{- $brews := list
    "openjdk"
    "jpeg"
    "libtiff"
    "webp"
    "aom"
    "openssl@1.1"
    "readline"
    "aria2"
    "autoconf"
    "automake"
    "gmp"
    "coreutils"
    "libyaml"
    "asdf"
    "xz"
    "awscli"
    "bash"
    "bdw-gc"
    "bison"
    "bmon"
    "brew-cask-completion"
    "bzip2"
    "cabextract"
    "freetype"
    "glib"
    "cairo"
    "cdrtools"
    "gcc"
    "chezmoi"
    "cmake"
    "colordiff"
    "csvq"
    "curl"
    "deno"
    "exa"
    "libsodium"
    "fribidi"
    "guile"
    "gnutls"
    "gobject-introspection"
    "harfbuzz"
    "little-cms2"
    "libsndfile"
    "srt"
    "x264"
    "x265"
    "ffmpeg"
    "ncurses"
    "fish"
    "pango"
    "fontforge"
    "freeglut"
    "fzf"
    "gawk"
    "gd"
    "geos"
    "krb5"
    "libxml2"
    "proj"
    "libpq"
    "nss"
    "numpy"
    "poppler-qt5"
    "gdal"
    "ghostscript"
    "ghq"
    "git"
    "git-delta"
    "git-lfs"
    "glances"
    "gnupg"
    "go"
    "gotop"
    "gsl"
    "htop"
    "imagemagick"
    "iperf"
    "jq"
    "libiconv"
    "unibilium"
    "libuv"
    "llvm"
    "m-cli"
    "mercurial"
    "msgpack"
    "navi"
    "nco"
    "neovim"
    "nnn"
    "node"
    "opencv@3"
    "openssh"
    "pandoc"
    "peco"
    "pipx"
    "procs"
    "protobuf"
    "rclone"
    "re2c"
    "reattach-to-user-namespace"
    "ripgrep"
    "ruby-build"
    "rust"
    "tig"
    "utf8proc"
    "tmux"
    "topgrade"
    "tree"
    "watchman"
    "wget"
    "wimlib"
    "xsv"
    "zlib"
    "zoxide"
    "zsh"
    "zsh-completions"
    "aws/tap/aws-sam-cli"
    "heroku/brew/heroku" -}}
{{ $casks := list
    "1password"
    "1password-cli"
    "bartender"
    "cyberduck"
    "font-sauce-code-pro-nerd-font"
    "fork"
    "google-chrome"
    "jetbrains-toolbox"
    "karabiner-elements"
    "keka"
    "kitty"
    "notion"
    "raycast"
    "slack"
    "visual-studio-code" -}}

{{- if or (eq .chezmoi.hostname "smasato-14") (eq .chezmoi.hostname "smasato-17") -}}
    {{- $taps = concat $taps (list
        "gromgit/fuse"
        "minacle/chntpw"
        "koekeishiya/formulae") -}}
    {{- $brews = concat $brews (list
        "youtube-dl"
        "gromgit/fuse/sshfs-mac"
        "minacle/chntpw/chntpw") -}}
    {{- $casks = concat $casks (list
        "adobe-creative-cloud"
        "alfred"
        "alt-tab"
        "atok"
        "cold-turkey-blocker"
        "deepl"
        "discord"
        "docker"
        "espanso"
        "fantastical"
        "fuse"
        "google-chrome-canary"
        "google-drive"
        "macfuse"
        "mactex-no-gui"
        "obsidian"
        "spotify"
        "spotmenu"
        "sunsama"
        "todoist"
        "typora"
        "vlc"
        "workflowy"
        "zoom") }}
{{- end -}}
{{ range $taps -}}
    tap "{{ . }}"
{{ end -}}
{{- range $brews -}}
    brew "{{ . }}"
{{ end -}}
{{- if or (eq .chezmoi.hostname "smasato-14") (eq .chezmoi.hostname "smasato-17") -}}
brew "unbound", restart_service: true
brew "pueue", restart_service: true
brew "postgresql", restart_service: true
brew "koekeishiya/formulae/skhd", args: ["HEAD", "with-logging"]
brew "koekeishiya/formulae/yabai", args: ["HEAD"]
{{- end }}
{{ range $casks -}}
    cask "{{ . }}"
{{ end -}}
EOF
{{- end -}}
