{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
# brew_base.yml hash: {{ include "brew_base.yml" | sha256sum }}
{{- if .work }}
# brew_work.yml hash: {{ include "brew_work.yml" | sha256sum }}
{{- else }}
# brew_personal.yml hash: {{ include "brew_personal.yml" | sha256sum }}
{{- end }}
brew bundle --no-lock --no-upgrade --file=/dev/stdin --verbose <<EOF
{{ $brew_base := include (joinPath .chezmoi.sourceDir "brew_base.yml") | fromYaml }}
{{- $taps := $brew_base.taps }}
{{- $brews := $brew_base.brews }}
{{-  $casks := $brew_base.casks }}
{{- if not (or .yabai .skhd) -}}
    {{- $taps = without $taps "koekeishiya/formulae" -}}
{{- end }}
{{- if not .yabai -}}
    {{- $brews = unset $brews "koekeishiya/formulae/yabai" -}}
{{- end }}
{{- if not .skhd -}}
    {{- $brews = unset $brews "koekeishiya/formulae/skhd" -}}
{{- end -}}
{{- if not .espanso -}}
    {{- $brews = unset $casks "espanso" -}}
{{- end -}}
{{- if not .hg -}}
    {{- $brews = unset $brews "mercurial" -}}
{{- end -}}
{{- if .work }}
    {{- $brew_work := include (joinPath .chezmoi.sourceDir "brew_work.yml") | fromYaml }}
    {{- $brews = merge $brews $brew_work.brews -}}
    {{- $casks = concat $casks $brew_work.casks -}}
{{ else }}
    {{- $brew_personal := include (joinPath .chezmoi.sourceDir "brew_personal.yml") | fromYaml }}
    {{- $taps = concat $taps $brew_personal.taps -}}
    {{- $brews = merge $brews $brew_personal.brews -}}
    {{- $casks = concat $casks $brew_personal.casks -}}
{{- end -}}
{{- range $taps -}}
    tap "{{ . }}"
{{ end -}}
{{- range $key, $value := $brews -}}
    {{ if eq $value nil -}}
    brew "{{ $key }}"
    {{- else -}}
    brew "{{ $key }}", {{ range $k, $v := $value -}}{{ $k }}: {{ if kindIs "bool" $v -}}
            {{- $v -}}
        {{else}}
            {{- toJson $v -}}
        {{end}}
    {{- end }}
    {{- end }}
{{ end -}}
{{ range $casks -}}
    cask "{{ . }}"
{{ end -}}
EOF
{{- end -}}
