{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail
# brew.yml hash: {{ include "brew.yml" | sha256sum }}
brew bundle --no-lock --no-upgrade --file=/dev/stdin --verbose <<EOF
{{ $brewfile := include (joinPath .chezmoi.sourceDir "brew.yml") | fromYaml }}
{{- $taps := $brewfile.taps }}
{{- $brews := $brewfile.brews }}
{{-  $casks := $brewfile.casks }}
{{- if not (or .yabai .skhd) -}}
    {{- $taps = without $taps "koekeishiya/formulae" -}}
{{- end }}
{{- if not .yabai -}}
    {{- $brews = unset $brews "koekeishiya/formulae/yabai" -}}
{{- end }}
{{- if not .skhd -}}
    {{- $brews = unset $brews "koekeishiya/formulae/skhd" -}}
{{- end -}}
{{- if not .espanso -}}
    {{- $brews = unset $casks "espanso" -}}
{{- end -}}
{{- if .work }}
    {{- $taps = without $taps "gromgit/fuse" "heroku/brew" "minacle/chntpw" -}}
    {{- $brews = omit $brews "gettext" "minacle/chntpw/chntpw" "heroku/brew/heroku" "gromgit/fuse/sshfs-mac"
    "unbound" "pueue" "postgresql" "youtube-dl" "icu4c" "libedit" "libpng" "libpqxx" "openssl@1.1" "postgresql@14" -}}
    {{- $casks = without $casks "adobe-creative-cloud"
        "bartender"
        "atok"
        "cold-turkey-blocker"
        "cyberduck"
        "deepl"
        "discord"
        "fuse"
        "google-cloud-sdk"
        "google-drive"
        "macfuse"
        "mactex-no-gui"
        "mimestream"
        "notion"
        "obsidian"
        "papers"
        "roam-research"
        "spotify"
        "spotmenu"
        "sunsama"
        "typora"
        "vlc"
        "workflowy" -}}
{{- end -}}

{{- range $taps -}}
    tap "{{ . }}"
{{ end -}}
{{- range $key, $value := $brews -}}
    {{ if eq $value nil -}}
    brew "{{ $key }}"
    {{- else -}}
    brew "{{ $key }}", {{ range $k, $v := $value -}}{{ $k }}: {{ if kindIs "bool" $v -}}
            {{- $v -}}
        {{else}}
            {{- toJson $v -}}
        {{end}}
    {{- end }}
    {{- end }}
{{ end -}}
{{ range $casks -}}
    cask "{{ . }}"
{{ end -}}
EOF
{{- end -}}
