#!/bin/bash

# hash {{ .extensions.cursor | toJson | sha256sum }}

{{ if lookPath "cursor" -}}
echo "Installing Cursor extensions..."

INSTALLED_EXTENSIONS=$(cursor --list-extensions)

{{ range .extensions.cursor.ext_ids -}}
if ! echo "$INSTALLED_EXTENSIONS" | grep -q "^{{ . }}$"; then
  echo "Installing extension: {{ . }}"
  cursor --install-extension "{{ . }}" --force
else
  echo "Extension already installed: ~{{ . }}"
fi
{{ end -}}

{{ range .extensions.cursor.remote_paths -}}
echo "Installing extension: {{ . }}"
curl -L -o "$(basename {{ . }})" "{{ . }}"
cursor --install-extension "$(basename {{ . }})"
rm "$(basename {{ . }})"
{{ end -}}

echo "Cursor extensions installation completed."
{{ else -}}
echo "Cursor is not installed. Skipping extension installation."
{{ end -}}
