{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

set -eufo pipefail

{{ $taps := list
    "claui/whence"
    "federico-terzi/espanso"
    "gromgit/fuse"
    "heroku/brew"
    "homebrew/bundle"
    "homebrew/cask"
    "homebrew/cask-fonts"
    "homebrew/cask-versions"
    "homebrew/core"
    "homebrew/services"
    "koekeishiya/formulae" -}}
{{ $brews := list
    "openjdk"
    "jpeg"
    "libtiff"
    "webp"
    "aom"
    "coreutils"
    "readline"
    "asdf"
    "bdw-gc"
    "brew-cask-completion"
    "bzip2"
    "freetype"
    "sqlite"
    "xz"
    "glib"
    "cairo"
    "chezmoi"
    "colordiff"
    "csvq"
    "curl"
    "deno"
    "exa"
    "expat"
    "fribidi"
    "guile"
    "gobject-introspection"
    "harfbuzz"
    "little-cms2"
    "libsndfile"
    "srt"
    "x264"
    "x265"
    "ffmpeg"
    "ncurses"
    "fish"
    "fontforge"
    "fzf"
    "gawk"
    "gcc"
    "geos"
    "krb5"
    "libxml2"
    "nss"
    "numpy"
    "gdal"
    "ghostscript"
    "ghq"
    "git"
    "git-delta"
    "glances"
    "gnupg"
    "go"
    "gsl"
    "htop"
    "imagemagick"
    "iperf"
    "jq"
    "jump"
    "unibilium"
    "libuv"
    "llvm"
    "m-cli"
    "mercurial"
    "msgpack"
    "navi"
    "nco"
    "neovim"
    "nnn"
    "node"
    "openssh"
    "pandoc"
    "peco"
    "procs"
    "proj"
    "protobuf"
    "rcm"
    "reattach-to-user-namespace"
    "ruby-build"
    "rust"
    "switchaudio-osx"
    "tig"
    "utf8proc"
    "tmux"
    "topgrade"
    "tree"
    "watchman"
    "wget"
    "zlib"
    "zoxide"
    "zsh"
    "zsh-completions"
    "federico-terzi/espanso/espanso"
    "heroku/brew/heroku"
    "koekeishiya/formulae/skhd" -}}
{{ $casks := list
    "1password"
    "1password-cli"
    "adobe-creative-cloud"
    "alfred"
    "alt-tab"
    "bartender"
    "cold-turkey-blocker"
    "cyberduck"
    "deepl"
    "discord"
    "docker"
    "espanso"
    "fantastical"
    "font-sauce-code-pro-nerd-font"
    "fork"
    "fuse"
    "google-chrome"
    "google-chrome-canary"
    "google-drive"
    "jetbrains-toolbox"
    "karabiner-elements"
    "keka"
    "kitty"
    "macfuse"
    "mactex-no-gui"
    "notion"
    "obsidian"
    "raycast"
    "slack"
    "spotify"
    "spotmenu"
    "sunsama"
    "thor"
    "todoist"
    "typora"
    "visual-studio-code"
    "vlc"
    "workflowy"
    "zoom" -}}

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range $taps -}}
tap "{{ . }}"
{{ end -}}
{{ range $brews -}}
brew "{{ . }}"
{{ end -}}
brew "unbound", restart_service: true
brew "pueue", restart_service: true
brew "postgresql", restart_service: true
brew "koekeishiya/formulae/yabai", args: ['HEAD']
{{ range $casks -}}
cask "{{ . }}"
{{ end -}}
EOF
{{ end -}}
