{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    yabai = {{ promptBool "yabai" }}
    skhd = {{ promptBool "skhd" }}
    hg = {{ promptBool "hg" }}
    espanso = {{ promptBool "espanso" }}
    work = {{ promptBool "work" }}
