{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $opAccount := "" -}}
{{- if hasKey . "opAccount" -}}
{{-   $opAccount = .opAccount -}}
{{- else -}}
{{-   $opAccount = promptString "opAccount" -}}
{{- end -}}

{{- $work := false -}}
{{- if hasKey . "work" -}}
{{-   $work = .work -}}
{{- else -}}
{{-   $work = promptBool "work" -}}
{{- end -}}

{{- $machineRole := "" -}}
{{- if hasKey . "machineRole" -}}
{{-   $machineRole = .machineRole -}}
{{- else -}}
{{-   $machineRole = promptChoice "machineRole" (list "main" "worker") "main" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    opAccount = {{ $opAccount | quote }}
    work = {{ $work }}
    machineRole = {{ $machineRole | quote }}
