# Antigen
source ~/antigen.zsh

antigen bundle z-shell/F-Sy-H --branch=main
antigen bundle zsh-users/zsh-history-substring-search
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle atuinsh/atuin@main
antigen bundle jreese/zsh-titles

antigen apply

# Config for zsh-history-substring-search
bindkey -M emacs '^P' history-substring-search-up
bindkey -M emacs '^N' history-substring-search-down

# General
setopt auto_cd
setopt auto_list
setopt auto_param_keys
setopt rm_star_wait
setopt correct
setopt interactive_comments
setopt print_eight_bit
setopt auto_pushd
setopt pushd_ignore_dups
setopt auto_param_slash
setopt mark_dirs

bindkey -e

WORDCHARS='*?_[]~&;!#$%^(){}<>'

# History
setopt extended_history
setopt share_history

setopt hist_ignore_dups
setopt hist_ignore_space
setopt hist_ignore_all_dups

setopt append_history
setopt hist_reduce_blanks

# fzf widgets (anyframe 置き換え)
fzf-widget-checkout-git-branch() {
	local branch
	branch=$(git branch --format='%(refname:short)' | fzf) || { zle redisplay; return }
	BUFFER="git checkout ${branch}"
	zle accept-line
}
zle -N fzf-widget-checkout-git-branch

fzf-widget-cd-ghq-repository() {
	local repo
	repo=$(ghq list | fzf) || { zle redisplay; return }
	BUFFER="cd $(ghq root)/${repo}"
	zle accept-line
}
zle -N fzf-widget-cd-ghq-repository

fzf-widget-insert-git-branch() {
	local branch
	branch=$(git branch --format='%(refname:short)' | fzf) || { zle redisplay; return }
	LBUFFER+="${branch}"
	zle redisplay
}
zle -N fzf-widget-insert-git-branch

fzf-widget-insert-filename() {
	local file
	file=$(fzf < /dev/tty) || { zle redisplay; return }
	LBUFFER+="${file}"
	zle redisplay
}
zle -N fzf-widget-insert-filename

bindkey '^xb' fzf-widget-checkout-git-branch
bindkey '^xg' fzf-widget-cd-ghq-repository # ghqコマンドで管理しているリポジトリに移動する
bindkey '^xi' fzf-widget-insert-git-branch # Gitブランチ名をコマンドラインに挿入する
bindkey '^xf' fzf-widget-insert-filename # ファイル名をコマンドラインに挿入する

# Completion
{{- if lookPath "brew" }}
FPATH={{ output "brew" "--prefix" | trim }}/share/zsh/site-functions:$FPATH

autoload -Uz compinit
compinit
{{- end }}

setopt complete_in_word
setopt auto_menu
setopt auto_param_keys
setopt list_types
setopt magic_equal_subst
setopt always_last_prompt

autoload -U colors

zstyle ':completion::complete:*' use-cache true
zstyle ':completion:*:default' menu select=1
zstyle ':completion:*' list-colors "${LS_COLORS}"
zstyle ':completion:*' insert-tab false

# Aliases
alias reload="exec zsh && echo '~/.zshrc reloaded!'"
alias gs='git status'
alias ct='claude -p "Please Return the translated text only. without this line." --model sonnet --allowedTools "" --system-prompt "You are a helpful assistant that translates text to Japanese."'

{{- if lookPath "eza" }}
alias ls='eza --icons --time-style=long-iso'
{{- end }}

# https://github.com/Genivia/ugrep#short-and-quick-command-aliases
alias uq='ug -Q'       # short & quick query TUI (interactive, uses .ugrep config)
alias ux='ug -UX'      # short & quick binary pattern search (uses .ugrep config)
alias uz='ug -z'       # short & quick compressed files and archives search (uses .ugrep config)

alias ugit='ug -R --ignore-files' # works like git-grep & define your preferences in .ugrep config

alias grep='ugrep -G'    # search with basic regular expressions (BRE)
alias egrep='ugrep -E'    # search with extended regular expressions (ERE)
alias fgrep='ugrep -F'    # find string(s)
alias pgrep='ugrep -P'    # search with Perl regular expressions
alias xgrep='ugrep -W'    # search (ERE) and output text or hex for binary

alias zgrep='ugrep -zG'   # search compressed files and archives with BRE
alias zegrep='ugrep -zE'   # search compressed files and archives with ERE
alias zfgrep='ugrep -zF'   # find string(s) in compressed files and/or archives
alias zpgrep='ugrep -zP'   # search compressed files and archives with Perl regular expressions
alias zxgrep='ugrep -zW'   # search (ERE) compressed files/archives and output text or hex for binary

alias xdump='ugrep -X ""' # hexdump files without searching

{{- if lookPath "zoxide" }}
eval "$(zoxide init zsh)"
{{- end }}

{{- if lookPath "yazi" }}
function y() {
	local tmp="$(mktemp -t "yazi-cwd.XXXXXX")" cwd
	yazi "$@" --cwd-file="$tmp"
	IFS= read -r -d '' cwd < "$tmp"
	[ -n "$cwd" ] && [ "$cwd" != "$PWD" ] && builtin cd -- "$cwd"
	rm -f -- "$tmp"
}
{{- end }}

{{- if lookPath "mise" }}
eval "$(mise activate zsh)"
{{- end }}

{{- if lookPath "op" }}
{{ output "op" "completion" "zsh" | trim }}
compdef _op op
{{- end }}

eval "$(starship init zsh)"

if command -v wt >/dev/null 2>&1; then eval "$(command wt config shell init zsh)"; fi
