[user]
	name = Masato Sugiyama
	email = {{ .email }}

[includeIf "gitdir:{{ .chezmoi.sourceDir }}/"]
	path = ~/.gitconfig_private

[includeIf "gitdir:{{ .chezmoi.homeDir }}/dev/src/github.com/smasato/**"]
	path = ~/.gitconfig_private

[includeIf "gitdir:{{ .chezmoi.homeDir }}/dev/src/github.com/x-smasato/**"]
	path = ~/.gitconfig_private

[include]
	path = ~/.config/gitalias/gitalias.txt

[color]
	ui = true

[core]
	editor = vim
	pager = delta # git-delta required
	excludesfile = ~/.gitignore_global
	whitespace = cr-at-eol

[push]
	autoSetupRemote = true

[interactive]
    diffFilter = delta --color-only

[diff]
    colorMoved = default

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

[init]
	defaultBranch = main

[ghq]
    root = ~/dev/go/src
    root = ~/dev/src
{{- if .work }}
[url "git@github.com:"]
	insteadOf = https://github.com
[http]
	sslVerify = false
{{- end }}

[alias]
	fu = "!git log -n 16 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
