export LANG=ja_JP.UTF-8
export PATH="$HOME/.local/share/mise/shims:$PATH"

# Added by Toolbox App
export PATH="$PATH:$HOME/Library/Application Support/JetBrains/Toolbox/scripts"
{{ if .work }}
# Added by OrbStack: command-line tools and integration
# This won't be added again if you remove it.
source ~/.orbstack/shell/init.zsh 2>/dev/null || :
{{ end }}
