/.config
/coverage/
/pkg/
/test/tmp/

# Ruby
/.yardoc/
/_yardoc/
/doc/
/rdoc/

# Node
node_modules

# Bundler
/.bundle/
/vendor/bundle
/lib/bundler/man/

# IDE
.idea

# macOS
.DS_Store

# ugrep
._UG#_Store

# Cursor
.cursorrules
.cursor

# Claude Code
.claude/settings.local.json
PULL_REQUEST.md
tmp/CLOSE.md

# Personal
.memo.local.md
*.local
.local

{{ if .work -}}
# Work
.tool-versions
.twt.yml
{{- end }}
