{
    "editor.accessibilitySupport": "off",
    "update.showReleaseNotes": false,
    "workbench.colorTheme": "Nord",
    "terminal.integrated.fontFamily": "'M+1Code Nerd Font'",
    "terminal.integrated.defaultProfile.osx": "zsh",
    "git.autofetch": true,
    "[jsonc]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "eslint.runtime": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/node"
}
