{
    "update.showReleaseNotes": false,
    "window.commandCenter": true,
    "workbench.colorTheme": "Catppuccin Mocha",
    "workbench.productIconTheme": "fluent-icons",
    "workbench.iconTheme": "catppuccin-mocha",
    "terminal.integrated.fontFamily": "'M+1Code Nerd Font'",
    "terminal.integrated.defaultProfile.osx": "zsh",
    "git.autofetch": true,
    "git.confirmSync": false,
    "diffEditor.ignoreTrimWhitespace": false,
    "editor.accessibilitySupport": "off",
    "editor.fontFamily": "'M+1Code Nerd Font'",
    "editor.renderLineHighlight": "all",
    "editor.renderLineHighlightOnlyWhenFocus": true,
    "editor.cursorBlinking": "phase",
    "files.trimTrailingWhitespace": true,
    "catppuccin.accentColor": "sky",
    "catppuccin.extraBordersEnabled": true,
    "[jsonc]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "eslint.runtime": "{{ .chezmoi.homeDir }}/.local/share/mise/shims/node",
    "rubyLsp.rubyVersionManager": {
        "miseExecutablePath": "/opt/homebrew/bin/mise",
        "identifier": "mise"
    },
    "rubyLsp.formatter": "rubocop",
    "redhat.telemetry.enabled": false,
    "cursor.composer.shouldAllowCustomModes": true,
    "cursor.cpp.disabledLanguages": []
}
